<div class="container" ng-app="app" ng-controller="inicioController" ng-init="init()">
  <input type="hidden" name="servidor" ng-model="servidor"/>
  <h2 class="clearfix">
    Desafio Cumplo
  </h2>


  <div id="wrapper">
    <div class="form-inline">
      <div id="busqueda" class="col-12">

        <div class="form-group">
          <label class="control-label col-3">Fecha desde:</label>
          <input type="date" class="form-control form-control-sm col-3" placeholder="Ingresa el RUT" ng-model="busqueda.fechaDesde" />
        </div>
        <div class="form-group">
          <label class="control-label col-3">Fecha hasta:</label>
          <input type="date" class="form-control form-control-sm col-3" ng-model="busqueda.fechaHasta" />
        </div>
        <div class="form-group">
          <input type="button" class="btn btn-info offset-3" value="Buscar" ng-click="callApi()"/>
        </div>
      </div>
    </div>
    <div class="row" ng-if="graficoUF || graficoDolar">
        <div class="col-6" ng-if="graficoUF">
          <h3>Gráfico de Datos UF</h3>
          <canvas id="line" class="chart chart-line" chart-data="dataGraphUF"
                  chart-labels="labelsUF" chart-series="seriesUF" chart-options="optionsUF"
                  chart-dataset-override="datasetOverrideUF" chart-click="onClickUF">
          </canvas>
            <table class="table table-sm abajo">
              <thead>
              <tr>
                <th scope="col">Promedio</th>
                <th scope="col">Máximo</th>
                <th scope="col">Mínimo</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{data.uf.promedio}}</td>
                <td>{{data.uf.maximo}}</td>
                <td>{{data.uf.minimo}}</td>
              </tr>
              </tbody>
            </table>
        </div>
        <div class="col-6" ng-if="graficoDolar">
          <h3>Gráfico de Datos Dolares</h3>
          <canvas id="line" class="chart chart-line" chart-data="dataGraphDolar"
                  chart-labels="labelsDolar" chart-series="seriesDolar" chart-options="optionsDolar"
                  chart-dataset-override="datasetOverrideDolar" chart-click="onClickDolar">
          </canvas>
            <table class="table table-sm abajo">
              <thead>
              <tr>
                <th scope="col">Promedio</th>
                <th scope="col">Máximo</th>
                <th scope="col">Mínimo</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{data.dolar.promedio}}</td>
                <td>{{data.dolar.maximo}}</td>
                <td>{{data.dolar.minimo}}</td>
              </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>

</div>